@font-face {
    font-family: "AeonikBold";
    src: url("/src/components/common/FontAeonik/._AeonikTRIAL-Bold.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}


* {
    font-family: "AeonikBold", sans-serif;
}

@media screen and (max-width: 767px) {
    .publicidadHorizontalContainer img {
      display: none;
    }

    .carruselContainer{
        width: auto;
        padding-right: 20px;
        height: auto;
        font-family: "AeonikBold", sans-serif;
    }
    .carousel-inner img {
        width: auto;
        max-width: 100%;
        height: 300px;
        max-height: 100%;
      }
      .carousel-inner .titulo {
        font-size: 24px;
        margin-bottom: 2px;
      }
      .carousel-indicators {
        display: flex;
        justify-content: center;
        transform: translateX(12%);
        width: auto; /* Evita que ocupe todo el ancho */
        top: 300px
      }
      .carousel .carousel-control-prev-icon{
        top: -90px;
      }

      .carousel .carousel-control-next-icon{
        top: -90px;
        left: -20px;

      }
      .moduloPortada .ultimasNoticias {
        font-size: 28px !important;
        width: 300px;
        margin-left: 20px;
      }
      
      .justify-content-center{
        width: 100% !important;
      }

      .contenedorMiniNotaGenerica{
        margin-left: 20px !important;
      }

      /* Seccion destacada de la semana */
      .destacadaDeLaSemanaContainer{
        width: 340px !important;
        height: auto !important;
        margin-left: 30px !important;
      }
      .destacadaDeLaSemanaContainer p{
        margin-left: 10px !important;
      }
      .destacadaDeLaSemanaContainer .datosCliente{
        display: none;
      }
      .destacadaDeLaSemanaContainer img{
        width: 300px !important;
      }
      .destacadaDeLaSemanaContainer p{
        margin-top: 0px !important;
      }
      .destacadaDeLaSemanaContainer{
        margin-bottom: 30px;
      }
      .moduloPortada .flex-md-row .contenedorMiniNotaGenerica{
        margin-left:30px   !important;
        width: 340px
      }
      .moduloPortada {
        width: 100% !important;
      }

      /* Seccion lo mas visto (Negro) */

      .loMasVisto {
        width: auto !important;
      }
      .loMasVisto .contenedorMiniVideo{
        margin-left: 20px !important;
      }

      .loMasVisto .contenedorMiniVideo .filaDatosNota{
        margin-left: 5px;
      }
      .loMasVisto .videoGrande {
        display: none;
      }
      .ocultarNotaMini .contenedorMiniNotaGenerica{
        display: none !important;
      }
      .hiperlocales .laMasLeida{
        margin-left: 30px !important;
      }
      
      .DebajoCarrusel{
        margin-left: 0px !important;
      }

      /* Seccion nota */
      .contenedorNota .justify-content-center{
        width: auto !important;
        padding: 0px !important;
        justify-content: start !important;

      }
      .tituloNota{
        width: 340px !important;
        padding: 0px !important;
      }
      .copete{
        width: 340px !important;
        padding: 0px !important;
      }
      .contenedorNota img{
        width: 320px !important;
      }

      .contenedorNota .filaDatosNota img{
        width: auto !important;
      }
      .contenedorNota .laMasLeida{
        display: none;
      }

      /* SECCION NAVBAR */
      .navbarCategorias{
        display: none !important;
      }
      .navbar-expand-lg img{
        width: 93px !important;

      }
      .navbar {
        width: auto;
      }
      .navbar-expand-lg .container-fluid{
        width: auto;
        margin: 0px;
        padding: 0px;
      }
      .navbar-brand{
        margin-left: 5px !important;
      }
      .nombreUbicacion{
        font-size: 16px;
        padding: 0px;
        margin-top: 5px;
      }
      .navbar-toggler {
        position: absolute;
        right: 0;
        margin-right: 20px;
      }
      .footer{
        width: 100% !important;
      }

      .navbar .collapsed{
        margin-left: 50px;
        border: none !important;
      }
      .modal-content .modal-header{
        background-color: #131313;
        border: none;
      }
      .modal-content {
        background-color: #131313 !important;
      }
      .modal li{
        font-size: 30px;
        color: white;
        margin-bottom: 10px;
      }
      .modal ul{
        list-style: none;
        margin-top: 10px;
      }
      .modal .buscador{
        margin-left: 20px;
        margin-bottom: 20px;
      }

  }


